@model bitirme.Entity.teklif

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.Hidden("hesapID", (object)ViewBag.hesapID)
    @Html.Hidden("ilanID", (object)ViewBag.ilanID)
    @Html.Hidden("durum", (object)ViewBag.durum)

    @if (User.IsInRole("U2"))
    {
        @Html.Hidden("ekipID", (object)ViewBag.ekipID)
    }
    @*<div class="form-group">
            @Html.LabelFor(model => model.hesapID, "hesapID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("hesapID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hesapID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fiyat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiyat, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.ilanID, "ilanID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ilanID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ilanID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.durum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @if (User.IsInRole("T2"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.ekipID, "ekipID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ekipID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ekipID, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
